.site-error {
  /* font-size: 12px; */
  text-align: center;
  margin-top: 3%;
}

.site-error-heading {
  background-color: #333;
  border-radius: 10px;
  padding: 5px 10px;
  width: 20%;
  text-align: center;
  margin: auto;
  margin-bottom: 2%;
  font-family: "Play";

}

.site-error-link {
  margin-top: 3%;
  margin-bottom: 5%;
  color:black;
}

.site-error-link:hover {
  opacity: .7;
}



.site-description {
  width:80% !important;
  max-width: none;
  margin-left: 10% !important;
  margin-top: 5%;
  text-align: left;
}

.site-description h1 {
  font-size:36px;
  text-transform: uppercase;
  margin-top: 2%;
  color: #fec92f;
  -webkit-text-fill-color: #fec92f;
  /* -webkit-text-stroke-color:#405fb0; */
  -webkit-text-stroke-color:black;
  -webkit-text-stroke-width: 1px;
  font-family: '8-bit' !important;
}

.generated-team {
  position: relative;
  width: 80%;
  height: auto;
  /* background-color:#333; */
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  /* overflow-wrap: break-word; */
  display: block;
  margin-top: 10%;
}

.your-team-header {
  width: 50%;
}



.result-slot-container {
  width: 50%;
  height: auto;
  position: relative;
  box-sizing: border-box;
  flex: 1;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-right: 3%;
  margin-left: 25%;
  transition: 0.3s all;

}

.site-team {
  /* margin-top: 5%; */
  padding-bottom: 5%;
}

.pokemon-card-form {
  min-height: 110px;
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 5px 1px  rgba(0,0,0,0.5);


}

.pokemon-card-name {
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 100px;
  /* font-family: "Play"; */
  font-size: 14px;
  left: 20%;
  top: 40%;
  transform: translateY(-50%);
}


.pokemon-card-img {
  display: inline-block;
  position: absolute;
  height: 90px;
  width: 90px;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}


.pokemon-nature-label {
  display: block;
  position: absolute;
  width: auto;
  height:auto;
  /* font-family: "Play"; */
  font-size: 8px;
  left:20%;
  top: 48%;
  color:white;
  margin-top: 2%;
  text-transform: uppercase;
  padding: 3px 10px 3px 10px;
  background-color: #484848;
  border-radius: 5px;
  transform: translateY(-30%);
}



.pokemon-moveset-label {
  /* position: absolute; */
  /* font-family: "Play"; */
  font-size: 12px;
  left: 46%;
  top: 20%;
  width: auto;
  transform: translateY(-30%);
}

.pokemon-moves-label {
  /* position: absolute; */
  /* font-family: "Play"; */
  font-size: 8px;
  left: 46%;
  width: 100%;
  top: 25%;
  width: auto;
}


.pokemon-move-label {
  display: block;
  position: absolute;
  width: auto;
  background-color:  #dfce3b;
  /* font-family: "Play"; */
  font-size: 10px;
  left: 45%;
  top: 36%;
  padding: 2px 10px;
  border-radius: 10px;
  max-width: 110px;
  word-wrap: break-word;
}

#move2 {
  left: 73%;
  top: 36%;
}
#move3 {
  top: 56%;
}
#move4 {
  top: 56%;
  left: 73%;
}

.arrows {
  width: 5%;
  float: left;
  font-size: 18px;
  position: absolute;


}

#left {
  top:50%;
  left:3%;
}

#right {
  left: 90%;
  top:50%;

}

.arrows:hover {
  cursor: pointer;
  opacity: .7;
}

/* types color */

.types {
  margin-left: 19%;
  padding-top: 2%;
}
.type {
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 8px;
  /* margin-left: 1%; */

}
.type2 {
  margin-left: -2%;
}
.normal {
  background-color: #A8A77A;
  }

.fire {
  background-color:#EE8130;
}

.water {
  background-color:#6390F0;
}

.electric {
  background-color:#F7D02c;
}

.grass {
  background-color:#7AC74C;
}

.ice {
  background-color:#96D9D6;
}

.fighting {
  background-color:#C22E28;
}

.poison {
  background-color:#A33EA1;
}

.ground {
  background-color:#E2BF65;
}

.flying{
  background-color:#A98FF3;
}

.psychic {
  background-color:#F95587;
}

.bug {
  background-color:#A6B91A
}

.rock {
  background-color:#B6A136;
}

.ghost {
  background-color:#735797;
}

.dragon {
  background-color:#6F35FC;
}

.dark {
  background-color:#705746;
}

.steel {
  background-color:#B7B7CE;
}

.fairy {
  background-color:#D685AD;
}
