<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="/static/scripts/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
  <script src="/static/scripts/activity.js" type="text/javascript"></script>
  <script src="/static/scripts/list.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
  <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.css" />
  <link rel="stylesheet" type="text/css" href="/static/styles/index.css" media="all" />


  <title>
    SquadUp
  </title>
</head>

<body>

  <div class="title-container">
    <img class="site-icon" src="/static/images/icon.png"/>
    <div class="site-title"><span class="red">Squad</span><span class="black">Up</span></div>
    <div class="site-description" style="margin-top:-2%;">
      <p>A Pokemon Team Search Engine<p>
      <p style="font-size:10px;">© CS 4300 || 2019</p>
    </div>

    <div class="site-description">SquadUp is a Pokemon team recommendation system. Given
    the current members of your team and a variety of potential filter selections, SquadUp will
    present recommendations on Pokemon to complete your team.</div>
  </div>

  <div class="filters-container">
    <div class="text-description" style="width: 100%;text-align:left;">
      <h1 style="margin-top:2%;">Choose Your Filters: </h1>
    </div>

    <!-- legendary filter -->
    <div class="legendary-filter">
      <div class="text-description" style= "text-align: left;">
        Do you want to include legendaries?
        <span class="option" id="yes_legend">YES</span>
        <span class="option" id="no_legend">NO</span>
      </div>

    </div>

    <!-- generation filter -->
    <div class="generation-filter">
      <div class="text-description" style= "text-align: left;">
        What generations do you want to include?
      </div>
      <div id="generation-error" class='error-msg'></div>
      <div class="generation-filter-container">
        <span class='filter-generation-select2'>
          <input type='text' name='moveset' />
        </span>
      </div>
    </div>

    <!-- playstyle filter -->
    <div class="playstyle-filter">
      <div class="text-description" style= "text-align: left;">
        Which playstyle do you prefer?
      </div>
      <div id="playstyle-error" class='error-msg'></div>
        <div class="playstyle-filter-container">
          <span class='filter-playstyle-select2'>
            <input type='text' name='playstyle' style='width:100%' />
          </span>
        </div>
    </div>


    <!-- leagues filter  -->
    <div class="leagues-filter">
      <div class="text-description" style= "text-align: left;">
        What league of Pokemon do you want to consider? Keep in mind that
        the order is as follows: Uber first, then OU, then UU, RU, NU, PU, LC then NFE.
        This means that if you choose Uber, you want to consider all Uber leagues
        AND below.
      </div>
      <div id="leagues-error" class='error-msg'></div>
      <div class="leagues-filter-container">
        <span class='filter-leagues-select2'>
          <input type='text' name='moveset' />
        </span>
      </div>
    </div>

    <!-- capture rate filter  -->
    <div class="capturerate-filter">
      <div class="text-description" style= "text-align: left;">
        What capture rate do you want? A capture rate represents
        the rareness/easiness to obtain the Pokemon, with a lower
        capture rate being harder to capture the Pokemon.
      </div>
      <div class="capturerate-filter-container">
        <input type="range" min="1" max="100" value="10" class="slider" id="myRange" style="float:left">
        <div class="text-description" id="capture-rate" style="margin-left: 3%;float:left">
          10%
        </div>
      </div>
    </div>


  <div class="text-description" style="width: 100%;text-align:left;margin-top:10%;">
    <h1 >Add Your Team: </h1>
    <p style="font-size:16px">This is where you can add a team that you want us to fill in the
      rest for you! Search for any Pokemon with the provided search engine.
      Provide at least one Pokemon, with any moves you wish that Pokemon should
      have. Leave it blank otherwise! <p>
  </div>
  <!-- user team input -->

    <div class="your-team-container select-container">
      <div class="your-team-header">Your Team</div><br/>
      <div class="team-slot-container" id="initial-select-container"><div class="add-pokemon-button">Add Existing Team Member</div></div>
      <div class="team-slot-container"><div class="add-pokemon-button">Add Existing Team Member</div></div>
      <div class="team-slot-container"><div class="add-pokemon-button">Add Existing Team Member</div></div>
      <div class="team-slot-container"><div class="add-pokemon-button">Add Existing Team Member</div></div>
      <div class="team-slot-container"><div class="add-pokemon-button">Add Existing Team Member</div></div>
      <div class="team-slot-container">
        <div class="add-pokemon-button">Add Existing Team Member</div>
        <!-- <div class="pokemon-card-form">
          <img class="pokemon-card-img" alt="pokemon" src="https://img.pokemondb.net/sprites/omega-ruby-alpha-sapphire/dex/normal/bulbasaur.png">
          <div class="pokemon-card-name">Bulbasaur</div>
          <div class="pokemon-nature-label"></div>
          <span class='nature-select2'><input type='text' name='nature' style='width:100px' /></span>
          <div class="pokemon-moveset-label"></div>
          <span class='moveset-select2'><input type='text' name='moveset' style='width:250px' /></span>
          <div class="remove-pokemon-button">&times;</div>
        </div> -->
      </div>


    </div>

      <!-- opponent filter -->

      <div class="text-description" style="width: 100%;text-align:left;">
        <h1 style="margin-top:2%;">Add Your Opponent's Team (OPTIONAL): </h1>
        <p>We include the option to let you specify who your opponent is, so
          we can consider these opposing Pokemon while we find you your best team!
          <br/>
          <br/>
          Do You Wish to Add Your Opponent's Team?
          <span class="option" id="yes">YES</span>
          <span class="option" id="no">NO</span>
         </p>
      </div>

      <div class="opponent-team-container select-container">
        <div class="opponent-team-header">Opponent Team</div>
        <div class="team-slot-container"><div class="add-pokemon-button">Add Existing Team Member</div></div>
        <div class="team-slot-container"><div class="add-pokemon-button">Add Existing Team Member</div></div>
        <div class="team-slot-container"><div class="add-pokemon-button">Add Existing Team Member</div></div>
        <div class="team-slot-container"><div class="add-pokemon-button">Add Existing Team Member</div></div>
        <div class="team-slot-container"><div class="add-pokemon-button">Add Existing Team Member</div></div>
        <div class="team-slot-container">
          <div class="add-pokemon-button">Add Existing Team Member</div>
        </div>
      </div>
    </div>




    <!-- opponent team if user chooses to -->



  <div class="generate-recommendations-button">GENERATE RECOMMENDATIONS</div>

  <script>
    // var locations = {{location_list | safe}};
    // var ids = {{location_id_list | safe}};
    var dataList = [];
    var curr_pokemon_moveset;
    var l_bool = false;
    var generations;
    var pstyle;
    var caprate = '.1';
    var myteam;
    var giveOppTeam = false;
    var theirteam;

    var romanToNumbers = {
      "I":1,
      "II":2,
      "III":3,
      "IV":4,
      "V":5,
      "VI": 6
    }

    $.getJSON("/static/data/pokemondata.json", function(json) {
      for (var i = 0; i < json.length; i++) {
        dataList.push({id: json[i].pokedex_number, text: json[i].name});
      }

      function formatState(state) {
        if (!state.id) {
          return state.text;
        }
        var $state = $(
          '<span><img src="' + json[state.id-1].imgSrc + '" class="select-img" /> <span class="select-text">' + state.text + '</span></span>'
        );
        return $state;
      };

      function formatCard(pokedexNumber) {
        var imgSrc = "";
        var name = ""
        for (var i = 0; i < json.length; i++) {
          if (json[i].pokedex_number == pokedexNumber) {
            imgSrc = json[i].imgSrc;
            name = json[i].name;
            curr_pokemon_moveset = json[i].moveset;
          }
        }
        var $card = $(
          '<div class="pokemon-card-form"><img class="pokemon-card-img" alt="pokemon" src="' + imgSrc + '"><div class="pokemon-card-name">' + name + '</div><div class="pokemon-nature-label"></div><div class="pokemon-moveset-label"></div><div class="remove-pokemon-button">&times;</div></div>'
        );
        // var $natureSelect = $(
        //   "<span class='nature-select2'><input type='text' placeholder='nature' name='nature' style='width:100px' /></span>"
        // );
        // $card.append($natureSelect);
        // initializeNatureSelect2($natureSelect);
        var $movesetSelect = $(
          "<span class='moveset-select2'><input type='text' placeholder='moveset' name='moveset' style='  overflow-y: scroll; width:250px' /></span>"
        );
        $card.append($movesetSelect);
        initializeMovesetSelect2($movesetSelect);
        return $card
      }

      function initializeNatureSelect2(obj) {
        obj.select2({
          data: naturesLst,
        });
      }

      function initializeMovesetSelect2(obj) {

        var moveset = [];
        var i = 1;
        curr_pokemon_moveset.forEach( function(move) {
          moveset.push({'id': i, 'text': move});
          i++;
        });
        obj.select2({
          data: moveset,
          multiple: "multiple",
          maximumSelectionSize: 4
        });
      }

      function initializeFilterGenerationSelect2(obj) {
        obj.select2({
          data: [{id: 1, text:"I"}, {id: 2, text:"II"}, {id: 3, text:"III"},
                 {id: 4, text:"IV"}, {id: 5, text:"V"}, {id: 6, text:"VI"},
                 {id: 7, text:"VII"}],
          multiple: "multiple",
        });
      }

      function initializeFilterLeagueSelect2(obj) {
        obj.select2({
          data: leaguesLst,
          // multiple: "multiple",
        });
      }

      function initializeFilterPlaystyleSelect2(obj) {
        obj.select2({
          data: [{id: 1, text:"Glass-Cannon"}, {id: 2, text:"Balanced"},  {id: 3, text:"Defensive"}]
        });
      }
      // init select 2
      function initializeSelect2(obj) {
        obj.select2({
          data: dataList,

          formatResult: formatState,
          formatSelection: formatState,
          escapeMarkup: function(m) { return m; },

          initSelection: function(element, callback) {
              callback({ id: element.val(), text: element.attr('data-init-text') });
          },

          // NOT NEEDED: text for loading more results
          formatLoadMore: function() {return 'Loading more...'},

          // query with pagination
          query: function (q) {
            var pageSize,
              results;
            pageSize = 20; // or whatever pagesize
            var results  = [];
            if (q.term && q.term !== "") {
              // HEADS UP; for the _.filter function i use underscore (actually lo-dash) here
              var results = this.data;
              var results = _.filter(results, function (e) {
                if(typeof e.children != 'undefined')
                {
                  subresults = _.filter(e.children, function (f) {
                    return (f.text.toUpperCase().indexOf(q.term.toUpperCase()) >= 0);
                  });
                  if(subresults.length > 0)
                    return true;
                  return false;
                }
                return (e.text.toUpperCase().indexOf(q.term.toUpperCase()) >= 0);
              });
              newresults = [];
              for (var i = 0, len = results.length; i < len; i++) {
              newresults[i] = {};
              if(typeof results[i].text != 'undefined')
                newresults[i].text = results[i].text;
              if(typeof results[i].id != 'undefined')
                newresults[i].id = results[i].id;
              if(typeof results[i].children != 'undefined')
              {
                newresults[i].children = results[i].children;
                newresults[i].children = _.filter(newresults[i].children, function (f) 							{
                    return (f.text.toUpperCase().indexOf(q.term.toUpperCase()) >= 0);
                  });
              }
            }
            results = newresults;
            } else if (q.term == "") {
              results = this.data;

            }

            q.callback({
              results: results.slice((q.page - 1) * pageSize, q.page * pageSize),
              more   : results.length >= q.page * pageSize
            });
          }
        });
      }

      // var initialSelect = $("<span class='pokemon-select2'><input type='text' name='pokemon' style='width:250px' /></span>");
      // initializeSelect2(initialSelect);
      // $('#initial-select-container').append(initialSelect);

      $(".nature-select2").each(function() {
        initializeNatureSelect2($(this));
      });

      $(".moveset-select2").each(function() {
        initializeMovesetSelect2($(this));
      });

      $(".filter-generation-select2").each(function() {
        initializeFilterGenerationSelect2($(this));
      });

      $(".filter-playstyle-select2").each(function() {
        initializeFilterPlaystyleSelect2($(this));
      });

      $(".filter-leagues-select2").each(function() {
        initializeFilterLeagueSelect2($(this));
      });

      $(".add-pokemon-button").on("click", function() {
        var newSelect = $("<span class='pokemon-select2'><input type='text' name='pokemon' style='width:250px' /></span>");
        $(this).parent().append(newSelect);
        initializeSelect2(newSelect);
        $(this).hide();
      });

      $(document).on("click", ".remove-pokemon-button", function() {
        $(this).parent().parent().children('.add-pokemon-button').show();
        $(this).parent().hide();
      });

      $(document).on("change", ".pokemon-select2", function() {
        console.log($(this).val());
        // console.log($.trim($(this).text()));
        // $(this).parent().append(formatCard($.trim($(this).text())));
        $(this).parent().append(formatCard($(this).val()));
        $(this).parent().children('.pokemon-select2').hide();
          // var $this = $(this);
          // $("#here").addClass('loading');
          // $("#here").empty();
          // // alert($this.val());
          // $.getJSON($SCRIPT_ROOT + '/update_selected_location', {
          //   id: $this.val()
          // }, function(data) {
          //   $("#here").html(data.result);
          //   $("#here").removeClass('loading');
          // });
          // return false;
      });

      $(".opponent-team-container").hide();
      $(".opponent-team-header").hide();
      $("#yes").css('background-color', '#282429');

      $("#yes").on("click", function() {

          $(".opponent-team-container").show();
          $(".opponent-team-header").show();
          $("#yes").css('background-color', '#e14749');
          $("#no").css('background-color', '#282429');
          giveOppTeam = true;

        });

    $("#no").on("click", function() {

        $(".opponent-team-container").hide();
        $(".opponent-team-header").hide();
        $("#no").css('background-color', '#e14749');
        $("#yes").css('background-color', '#282429');
        giveOppTeam = false;

    });

    $("#yes_legend").css('background-color', '#282429');

    $("#yes_legend").on("click", function() {

        $("#yes_legend").css('background-color', '#e14749');
        $("#no_legend").css('background-color', '#282429');
        l_bool = true;

      });

  $("#no_legend").on("click", function() {
      $("#no_legend").css('background-color', '#e14749');
      $("#yes_legend").css('background-color', '#282429');
      l_bool = false;

  });

  $(document).on('input', "#myRange", function() {
    $('#capture-rate').html( $(this).val() + "%");
    caprate = '' + $(this).val() *.01;
  });


  //CREATE THE GENERATION LINK
  //CHECK IF ANY REQUIRED THINGS R NULL!!!!!
  $(document).on("click", ".generate-recommendations-button", function() {
    pstyle = $('#select2-chosen-4').html();
    league = $('#select2-chosen-6').html();

    var gens_str= '';
    $(".select2-search-choice > div").each(function() {
      gens_str+=(romanToNumbers[this.innerHTML])+"+";
    });

    generations = gens_str;

    var myteam_str='';
    $(".your-team-container > .team-slot-container >.pokemon-card-form").each(function() {
      li_lst = this.children[5].children;
      mv = '';
      for (var i = 0; i < li_lst.length; i++) {
        var li = li_lst[i];
        if (li.className == "select2-choices") {
          mv += li.innerText.replace(/(\r\n|\n|\r)/gm, '6');

        }
      }
      myteam_str += this.children[1].innerText + "6" + mv+"_";
    });
    //console.log(myteam_str);
    var theirteam_str='';
    var results_url;
    if (giveOppTeam) {

      $(".opponent-team-container > .team-slot-container >.pokemon-card-form").each(function() {
        li_lst = this.children[5].children;
        mv = '';
        for (var i = 0; i < li_lst.length; i++) {
          var li = li_lst[i];
          if (li.className == "select2-choices") {
            mv += li.innerText.replace(/(\r\n|\n|\r)/gm, '6');

          }
        }
        theirteam_str += this.children[1].innerText + "6" + mv+"_";
      });
      //console.log(theirteam_str);
      results_url = '/results?legendary='+l_bool+"&league="+league+"&gens="+generations+"&pstyle="+pstyle+"&caprate="+caprate+"&myteam="+myteam_str+"&theirteam="+theirteam_str;

    } else {
      console.log(generations);
      console.log(league);
      console.log(pstyle);
      results_url = '/results?legendary='+l_bool+"&league="+league+"&gens="+generations+"&pstyle="+pstyle+"&caprate="+caprate+"&myteam="+myteam_str;
    }
    // console.log(generations);
    // console.log(caprate);
    if (generations == '') {
      $('#generation-error').html("Please enter a generation(s)");
      $('#generation-error').css("display", "block");
    } else {
      $('#generation-error').html("");
      $('#generation-error').css("display", "none");
    }

    if (league == '&nbsp;') {
      $('#leagues-error').html("Please choose a league");
      $('#leagues-error').css("display", "block");
    } else {
      $('#leagues-error').html("");
      $('#leagues-error').css("display", "none");
    }

    if (pstyle == '&nbsp;')  {
      $('#playstyle-error').html("Please choose a playstyle");
      $('#playstyle-error').css("display", "block");
    } else {
      $('#playstyle-error').html("");
      $('#playstyle-error').css("display", "none");
    }

    if ((generations != '') && (league != '&nbsp;') && (pstyle != '&nbsp;')) {
      window.location.href = results_url;
    } else {
      alert("Missing fields. Check your filters!");
    }

  });



});
    // $('#location-select').select2('val', 1);

    //
    // $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  </script>

</body>

</html>
